.ruler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding: 8px 0;
    font-size: 12px;
}

.ruler.vertical {
    display: flex;
    align-items: stretch;
    width: 10%;

    padding: 0 8px;
    font-size: 12px;
    height: 100%;
    border-bottom: none;
    border-right: 1px solid lightgrey;
    justify-content: flex-end;
    /* position: relative;
    top: 34px; */
}

.marks {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 60%;
}

.marks.vertical {
    display: flex;
    flex-direction: column;
    width: auto;
}

.ruler-mark,
.ruler-mark-mid {
    position: relative;
    text-align: center;
}

.ruler-mark.vertical,
.ruler-mark-mid.vertical {
    position: relative;
    text-align: center;

}

.ruler-mark-mid::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 0.5px;
    height: 5px;
    background-color: lightgrey;
    transform: translateX(-50%);
}

.ruler-mark-mid.vertical::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 7px;
    width: 5px;
    height: 0.3px;
    background-color: lightgrey;
    transform: translateX(200%);
}

.ruler-mark::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -18px;
    width: 0.3px;
    height: 15px;
    background-color: lightgrey;
    transform: translateX(-50%);
}

.ruler-mark.vertical::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 15px;
    height: 0.3px;
    background-color: lightgrey;
    transform: translateX(0%);
}

.ruler-number {
    display: inline-block;
    margin-top: 5px;
}

.ruler-number.vertical {
    display: inline-block;
    margin-top: 5px;
    /* margin-left: 5px; */
    transform: rotate(-90deg);
}

.highlighted {
    font-weight: bold;
    color: #0089e2;
}

.highlighted::after {
    height: 10px;
    background-color: blue;
}